# app/routes.py
from app import app, db
from flask import render_template, request, redirect, url_for
from app.models import Job

@app.route('/')
def index():
    jobs = Job.query.all()
    return render_template('index.html', jobs=jobs)
